{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-2">Création d'un article</h1>
    {{ include('admin_article_crud/_form.html.twig') }}
    <a href="{{ path('app_admin_article_crud_index') }}">Retour à la liste</a>
  
</div>
{% endblock %}
